:root {
    --size-title-h1: 24px;
    --size-title-h2: 20px;
    --size-title-h3: 18px;
    --size-title-h4: 16px;
    --size-title-h5: 14px;
    --size-title-h6: 12px;

    --size-text-small: 12px;
    --size-text-medium: 14px;

    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-700: 700;
}