* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  font-size: var(--size-text-medium);
}

a {
  text-decoration: none;
}

.no-show {
  display: none !important;
}

.hidden {
  visibility: hidden;
}

.app_container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  font-size: var(--size-text-medium);
}

.app_container.desktop {
  min-width: 1024px;
  min-height: 500px;
}

/* SESSION BODY */

.sessioin-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 0;
}

.session-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 96px;
  padding: 0 var(--spacing-5);
  color: var(--color-text-primary);
}

/* SESSION SEARCH */

.session-search {
  display: flex;
  align-items: center;
  gap: var(--spacing-4);
}

.session-search-title {
  font-size: var(--size-h1);
  font-weight: var(--font-weight-semibold);
}

.session-search-field {
  position: relative;
}

.search-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 16px;
  height: 16px;
  fill: var(--color-grey-lighten-2);
}

.session-search-input {
  height: 36px;
  width: 299px;
  font-size: var(--size-text-medium);
  padding: 0 var(--spacing-2) 0 38px;
  border-radius: var(--border-radius-3);
  border: 1px solid var(--color-search-bar);
}

.session-search-input::placeholder {
  color: var(--color-search-bar);
}

/* CREATE SESSION */

.session-create {
  display: flex;
  align-items: center;
  gap: var(--spacing-2);
  font-size: var(--size-text-medium);
  font-weight: var(--font-weight-bold);
  height: 36px;
  padding: 0 var(--spacing-2);
  border-radius: var(--border-radius-3);
  border: none;
  background-color: var(--color-btn-background);
  color: var(--color-text-white);
  cursor: pointer;
  transition: background-color 0.2s ease;
  transition: border 0.2s ease;
  transition: color 0.2s ease;
}

.session-create svg {
  fill: var(--color-text-white);
  transition: fill 0.2s ease;
  width: 16px;
  height: 16px;
}

.session-create:hover {
  border: 1px solid var(--color-btn-border-hover);
  background-color: var(--color-btn-background-hover);
  color: var(--color-btn-text-hover);
}
.session-create:hover svg {
  fill: var(--color-btn-text-hover);
}

/* SESSION TABS */

.session-tabs {
  position: relative;
  font-weight: var(--font-weight-semibold);
  flex: 0 0 41px;
  border-bottom: 1px solid var(--color-divider);
}

.session-tabs-links {
  position: absolute;
  display: flex;
  gap: var(--spacing-5);
  left: var(--spacing-5);
  height: 41px;
}

.session-tabs-link {
  list-style: none;
}

.session-tabs-link a {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
  border-bottom: 2px solid transparent;
  border-radius: var(--border-radius-1);
  color: #444;
  text-decoration: none;
  transition: color 0.2s ease;
}

.session-tabs-link a::after {
  transition: background-color 0.2s ease;
}

.session-tabs-link:hover a::after,
.session-tabs-link.active a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 100%;
  height: 2px;
  border-radius: var(--border-radius-1);
  background-color: var(--color-tabs-hover);
}

.session-tabs-link a:hover,
.session-tabs-link.active a {
  color: var(--color-tabs-hover);
}

/* SESSIONS */

.session-events {
  flex-grow: 1;
  overflow-y: auto;
  padding: var(--spacing-4) var(--spacing-5);
}

.session-box {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-divider);
  padding: 0 var(--spacing-3);
  height: 96px;
  gap: var(--spacing-6);
  transition: background-color 0.2s ease;
}

.session-box.active {
  background-color: var(--color-list-view-row-active);
}

.session-box:hover {
  background-color: var(--color-list-view-row-hover);
}

.session-details {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-0);
  flex-grow: 1;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.session-date {
  font-size: var(--size-text-small);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: var(--line-hight-1);
  color: var(--color-grey-lighten-1);
}

.session-name {
  font-weight: var(--font-weight-semibold);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: var(--line-hight-2);
}

.session-attendees {
  display: flex;
  gap: var(--spacing-2);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: var(--line-hight-2);
  color: var(--color-grey-lighten-1);
}

.session-attendee {
  display: flex;
  gap: var(--spacing-0);
  align-items: center;
}

.like {
  fill: green;
}

.dislike {
  fill: red;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.session-info {
  display: flex;
  align-items: center;
}

.countdown {
  color: var(--color-text-disabled);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.session-media-btns {
  display: flex;
  gap: var(--spacing-2);
}

.media-btn {
  width: 24px;
  height: 24px;
  background-color: #FBFBFE;
  border: 1px solid #CECFF0;
  border-radius: var(--border-radius-2);
  cursor: pointer;
}

.session-buttons {
  display: flex;
  align-items: center;
  gap: var(--spacing-4);
}

.session-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 35px;
  border-radius: var(--border-radius-3);
  cursor: pointer;
}

.call-btn {
  fill: #fff;
  background: var(--color-btn-background);
  transition: background-color 0.2s ease;
  transition: border 0.2s ease;
  transition: color 0.2s ease;
}

.call-btn:hover {
  border: 1px solid var(--color-btn-border-hover);
  background-color: var(--color-btn-background-hover);
  color: var(--color-btn-text-hover);
}

.call-btn:hover svg {
  fill: var(--color-btn-text-hover);
  transition: fill 0.2s ease;
}

.more-options-btn {
  fill: var(--color-text-primary);
  transition: background-color 0.2s ease;
}

.more-options-btn:hover {
  background-color: var(--color-purple-lighten-4);
}

.session-btn-disabled {
  background-color: var(--color-btn-disabled);
  pointer-events: none;
  fill: #DADADA;
}

.session-box.expired {
  color: var(--color-text-disabled);
  fill: var(--color-text-disabled);
}

.session-box.expired .session-date {
  color: var(--color-text-disabled);
}

.session-box.expired .session-attendees {
  color: var(--color-text-disabled);
}

.skeleton-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: var(--spacing-0);
}

.skeleton-row {
  border-radius: 40px;
  background-color: var(--color-skeleton-bg);
}

.skeleton .date {
  width: 128px;
  height: 12px;
  margin: 2px 0;
}

.skeleton .name {
  width: 400px;
  height: 14px;
  margin: 3px 0;
}

.skeleton .attendees {
  display: flex;
  gap: var(--spacing-2);
}

.skeleton .attendee {
  width: 94px;
  height: 14px;
  margin: 3px 0;
}

.skeleton-button {
  height: 36px;
  width: 36px;
  margin-right: 60px;
  background-color: var(--color-skeleton-bg);
  border-radius: var(--border-radius-3);
}